@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Urbanist';
  src: url('/public/font/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}


@layer utilities {
  .font-urbanist-100 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 100;
  }
  .font-urbanist-200 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
  }
  .font-urbanist-300 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
  }
  .font-urbanist-400 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
  }
  .font-urbanist-500 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
  }
  .font-urbanist-600 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
  }
  .font-urbanist-700 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
  }
  .font-urbanist-800 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 800;
  }
  .font-urbanist-900 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
  }
}